In [275]:
import pandas as pd
from pandas_datareader.data import DataReader
from datetime import date,datetime
from dateutil.relativedelta import relativedelta

In [276]:
data_source='yahoo'
start_date=date(2010,1,1)
drop_col=['Open','High','Low','Close','Adj Close','Volume']

AMAZON

In [277]:
ticker='AMZN'
amazon=DataReader(ticker,data_source,start_date)

In [278]:
amazon['mean']=(amazon['Open']+amazon['High']+amazon['Low']+amazon['Close'])/4
amazon.head()

,Open,High,Low,Close,Adj Close,Volume,mean
Date,,,,,,,
2010-01-04,136.250000,136.610001,133.139999,133.899994,133.899994,7599900,134.974998
2010-01-05,133.429993,135.479996,131.809998,134.690002,134.690002,8851900,133.852497
2010-01-06,134.600006,134.729996,131.649994,132.250000,132.250000,7178800,133.307499
2010-01-07,132.009995,132.320007,128.800003,130.000000,130.000000,11030200,130.782501
2010-01-08,130.559998,133.679993,129.029999,133.520004,133.520004,9830500,131.697498

In [279]:
amazon_change=amazon.drop(drop_col,axis=1)
amazon_change.head()

                  mean
Date
2010-01-04  134.974998
2010-01-05  133.852497
2010-01-06  133.307499
2010-01-07  130.782501
2010-01-08  131.697498

In [280]:
amazon_change['pct_change']=amazon_change['mean'].pct_change()
amazon_change.head(10)

                  mean  pct_change
Date
2010-01-04  134.974998         NaN
2010-01-05  133.852497   -0.008316
2010-01-06  133.307499   -0.004072
2010-01-07  130.782501   -0.018941
2010-01-08  131.697498    0.006996
2010-01-11  131.235001   -0.003512
2010-01-12  128.177503   -0.023298
2010-01-13  128.117503   -0.000468
2010-01-14  128.317501    0.001561
2010-01-15  128.257496   -0.000468

In [281]:
amazon_autocorr=amazon_change['pct_change'].autocorr()
print('Over the past 8 years, the auto-correlation of amazon daily point change: {}'.format(amazon_autocorr))

Over the past 8 years, the auto-correlation of amazon daily point change: 0.17460972374835526

In [282]:
print('Over the past 3 years, the auto-correlation of amazon daily point change is:0.12575259043433584 ')

Over the past 3 years, the auto-correlation of amazon daily point change is:0.12575259043433584

NVIDIA

In [283]:
start_date=date(2010,1,1)
ticker='NVDA'
nvidia=DataReader(ticker,data_source,start_date)
nvidia.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  18.510000  18.620001  18.110001  18.490000  17.132725  20005100
2010-01-05  18.420000  18.959999  18.420000  18.760000  17.382906  18216200
2010-01-06  18.750000  18.920000  18.570000  18.879999  17.494093  16229200
2010-01-07  18.780001  18.860001  18.370001  18.510000  17.151255  13694800
2010-01-08  18.360001  18.680000  18.250000  18.549999  17.188318  11954200

In [284]:
nvidia['mean']=(nvidia['Open']+nvidia['High']+nvidia['Low']+nvidia['Close'])/4
nvidia.head()

,Open,High,Low,Close,Adj Close,Volume,mean
Date,,,,,,,
2010-01-04,18.510000,18.620001,18.110001,18.490000,17.132725,20005100,18.432500
2010-01-05,18.420000,18.959999,18.420000,18.760000,17.382906,18216200,18.640000
2010-01-06,18.750000,18.920000,18.570000,18.879999,17.494093,16229200,18.780000
2010-01-07,18.780001,18.860001,18.370001,18.510000,17.151255,13694800,18.630001
2010-01-08,18.360001,18.680000,18.250000,18.549999,17.188318,11954200,18.460000

In [285]:
nvidia_change=nvidia.drop(drop_col,axis=1)
nvidia_change['pct_change']=nvidia['mean'].pct_change()
nvidia_change.head()

                 mean  pct_change
Date
2010-01-04  18.432500         NaN
2010-01-05  18.640000    0.011257
2010-01-06  18.780000    0.007511
2010-01-07  18.630001   -0.007987
2010-01-08  18.460000   -0.009125

In [286]:
nvidia_autocorr=nvidia_change['pct_change'].autocorr()
print('Over the past 8 years, the auto-correlation of nvidia daily point change is :{}'.format(nvidia_autocorr))

Over the past 8 years, the auto-correlation of nvidia daily point change is :0.2448215586686418

In [287]:
print('Over the past 3 years, the auto-correlation of nvidia daily point change is: 0.18380145228766412')

Over the past 3 years, the auto-correlation of nvidia daily point change is: 0.18380145228766412

In [288]:
data_source='yahoo'
drop_col=['Open','High','Low','Close','Adj Close','Volume']

start_date=date(2010,1,1)
now=date.today()
difference=relativedelta(now,start_date)
years=difference.years

In [289]:
def stock_autocorr(ticker): 
    stock=DataReader(ticker,data_source,start_date)
    stock['mean']=(stock['Open']+stock['High']+stock['Low']+stock['Close'])/4
    stock_change=stock.drop(drop_col,axis=1)
    stock_change['pct_change']=stock_change.pct_change()
    stock_autocorr=stock_change['pct_change'].autocorr()
    print('Over the past {0} years, the auto-correlation of {1} daily point change is:{2}'.format(years,ticker,stock_autocorr))

Google(Alphabet)

In [291]:
stock_autocorr('GOOG')

Over the past 8 years, the auto-correlation of GOOG daily point change is:0.22111125898783565

In [292]:
print('Over the past 3 years, the auto-correlation of Google daily Point change is: 0.2259410857491946')

Over the past 3 years, the auto-correlation of Google daily Point change is: 0.2259410857491946

APPLE

In [293]:
stock_autocorr('AAPL')

Over the past 8 years, the auto-correlation of AAPL daily point change is:0.20039656118174148

In [294]:
print('Over the past 3 years, the auto-correlation of Apple daily Point Change is: 0.15088294354316298')

Over the past 3 years, the auto-correlation of Apple daily Point Change is: 0.15088294354316298

Berkshire Hathaway

In [295]:
stock_autocorr('BRK-B')

Over the past 8 years, the auto-correlation of BRK-B daily point change is:0.18994544945674022

In [296]:
print('Over the past 3 years, the auto-correlation of Berkshire Daily Point Change is: 0.17142064371995525')

Over the past 3 years, the auto-correlation of Berkshire Daily Point Change is: 0.17142064371995525

COSTCO

In [297]:
stock_autocorr('COST')

Over the past 8 years, the auto-correlation of COST daily point change is:0.1943021309140868

In [298]:
print('Over the past 3 years, the auto-correlation of Costco Daily Point Change is: 0.16637889500752712')

Over the past 3 years, the auto-correlation of Costco Daily Point Change is: 0.16637889500752712

FACEBOOK

In [299]:
stock_autocorr('FB')

Over the past 8 years, the auto-correlation of FB daily point change is:0.20512517905862418

In [300]:
print('Over the past 3 years, the auto-correlation of Facebook Daily Point Change is: 0.16848422643127792')

Over the past 3 years, the auto-correlation of Facebook Daily Point Change is: 0.16848422643127792

Goldman Sachs

In [301]:
stock_autocorr('GS')

Over the past 8 years, the auto-correlation of GS daily point change is:0.2209476905290296

In [302]:
print('Over the past 3 years, the auto-correlation of Goldman Sachs Daily Point Change is: 0.20217490841631683')

Over the past 3 years, the auto-correlation of Goldman Sachs Daily Point Change is: 0.20217490841631683

Home Depot

In [304]:
stock_autocorr('HD')

Over the past 8 years, the auto-correlation of HD daily point change is:0.23931120473266865

In [305]:
print('Over the past 3 years, the auto-correlation of HomeDepot Daily Point Change is:0.13527968964541465 ')

Over the past 3 years, the auto-correlation of HomeDepot Daily Point Change is:0.13527968964541465

NetFlix

In [306]:
stock_autocorr('NFLX')

Over the past 8 years, the auto-correlation of NFLX daily point change is:0.20867505374678033

In [307]:
print('Over the past 3 years, the auto-correlation of NetFlix Daily Point Change is:0.21998729077185003')

Over the past 3 years, the auto-correlation of NetFlix Daily Point Change is:0.21998729077185003

Verizon Comm.

In [308]:
stock_autocorr('VZ')

Over the past 8 years, the auto-correlation of VZ daily point change is:0.23862739090420726

In [309]:
print('Over the past 3 years, the auto-correlation of Verizon Daily Point Change is:0.2527630280175089')

Over the past 3 years, the auto-correlation of Verizon Daily Point Change is:0.2527630280175089

TESLA

In [310]:
stock_autocorr('TSLA')

Over the past 8 years, the auto-correlation of TSLA daily point change is:0.22962772485430671

In [311]:
print('Over the past 3 years, the auto-correlation of Tesla Daily Point Change is:0.25970183134221386')

Over the past 3 years, the auto-correlation of Tesla Daily Point Change is:0.25970183134221386